<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../styles/ingredients.css" />
  </head>
  <body>

    <div class="container mt-5 px-2">
    <h1>The Lazy Foody</h1>
        <p>Welcome! The Lazy Foody is a web app for lazy foodies to help them decide what to cook with ingredients in their fridge.</p>
        <p>To see the magic select two or more ingredient and simply press the "suggest" button.</p>
      <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="position-relative">
          <span class="position-absolute search"
            ><i class="fa fa-search"></i
          ></span>
          <input
            class="form-control w-100"
            placeholder="Search"
          />
        </div>

        <div class="px-2">
          <span>Filters <i class="fa fa-angle-down"></i></span>
          <i class="fa fa-ellipsis-h ms-3"></i>
        </div>
      </div>
      <div class="table-responsive">
        <form action="/dishes/suggest" method="post">
        <table class="table table-responsive table-borderless">
          <thead>
            <tr class="bg-light">
              <th scope="col" width="5%">
              </th>
              <th scope="col" width="20%">Ingredient</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < ingredient.length; i++) { %>
            <tr>
              <th scope="row">
                <input class="form-check-input checkbox" type="checkbox" name="checkedIngredients[]" value="<%= ingredient[i]['ingredient_name'] %>" />
              </th>
              <td><%= ingredient[i]['ingredient_name'] %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <button type="submit" id="post-btn">Suggest</button>
    </form>
    </div>  
  </body>
  <script src="script.js"></script>
</html>
